POSTGRES_DB=stocks
POSTGRES_USER=stocks_user
POSTGRES_PASSWORD=stocks_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://stocks_user:stocks_pass@db:5432/stocks

BRAPI_BASE_URL=https://brapi.dev/api
BRAPI_TOKEN=kvcBocvZDQ7jvWFcsreYSD

LOG_LEVEL=INFO
APP_ENV=local